<!--Title:GitState-->
<div style="margin: 0.5em;">
    <p>
        <button class="btn btn-sm btn-secondary"
                style="width: 3em; color: black; font-size: 80%;"
                @click="RefreshNow()" :disabled="UpdateRunning" >
            <i class="fas fa-sync-alt"></i>
        </button>
        <span v-if="UpdateRunning">...</span>
    </p>
    <p v-if="HasStateMessage">
        <span v-html="StateMessage"></span>
    </p>
    <ul class="repo-states" :style="{ fontSize: FontSize + 'px' }" >
        <li v-for="rs in Repos">
            <table class="repo-entry"  :title="rs.ShortDescription" :class="{ selected: rs.Selected }" >
                <tr @click="SelectRepo(rs.Name)">
                    <td :style="{ color: rs.TextColor, background: rs.StateColor }" 
                        style="text-align: center; border-radius: 1em; width: 2em;">
                        {{rs.StateText}}
                    </td>
                    <td>
                        <span :style="{ color: rs.StateColor }" >&nbsp;{{rs.Name}}</span>
                        <span v-if="rs.IsUpdating">&nbsp;~&nbsp;</span>
                        <span v-else>&nbsp;-&nbsp;</span>
                        <span>{{rs.Branch}}</span>
                    </td>
                </tr>
            </table>
        </li>
    </ul>

</div>
