
body {
    color: gray;
    background-color: #2d2d30;
    font-weight: bold;
}

.repo-states {
    list-style-type: none;
    padding-left: 0;
    cursor: default;
}

.repo-entry {
    border: solid 1px transparent; 
    border-collapse: separate;
    cursor: pointer;
    width: 100%;
}

.selected {
    border: solid 1px silver;
}

