[Desktop Entry]
Name=GitState
GenericName=GitState
Exec=/home/frank/GitState/GitState
Icon=/home/frank/GitState/GitState.png
Terminal=false
Type=Application
